= form_for @order, html: {class: 'uk-form-stacked'} do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  .uk-margin
    = f.label :title, class: 'uk-form-label'
    .uk-form-controls
      = f.text_field :title, class: 'uk-input'
  .uk-margin
    = f.label :url, class: 'uk-form-label'
    .uk-form-controls
    = f.text_field :url, class: 'uk-input'
  .uk-margin
    = f.submit 'Save', class: 'uk-button uk-button-primary'
