%h1 注文一覧

= search_form_for @q, class: 'uk-grid-small uk-background-muted', html: {'uk-grid': '' } do |f|
  .uk-width-1-3
    = f.label :title_cont, 'タイトル', class: 'uk-form-label'
    .uk-form-controls.uk-inline
      = f.search_field :title_cont, class: 'uk-input'

  .uk-width-1-3
    .uk-form-controls.uk-inline
      = f.collection_check_boxes :user_id_in, [[current_user.id, '自分が注文したもので絞る']], :first, :last

  .uk-width-1-3
    = f.label :state_eq, '注文状況で絞る', class: 'uk-form-label'
    .uk-form-controls.uk-inline
      = f.select :state_eq, Order.states_i18n.invert, include_blank: true

%table.uk-table.uk-table-divider.uk-table-striped.uk-table-hover.uk-table-small.uk-table-middle
  %thead
    %tr
      %th.uk-width-xlarge Title
      %th Order time
      %th.uk-text-center State
      %th.uk-text-center Order by
      %th.uk-text-center Image
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td.uk-table-link.uk-text-break
          = link_to order.title, order.url
        %td= l order.order_time, format: :short
        %td.uk-text-center= order.state_i18n
        %td.uk-text-center= order.user.name
        %td.uk-text-center
          - if order.image_path.present?
            = image_tag order.image_path, size: '55x70'
        %td
          = link_to '詳細', order
          - if order.allow_edit?(current_user)
            .uk-margin-small
            = link_to '購入済にする', purchase_order_path(order), method: :post, data: { confirm: '購入済ですか？' }
            .uk-margin-small
            = link_to '注文情報修正', edit_order_path(order)
            .uk-margin-small
            = link_to '注文取消', order, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }

