%h1 注文一覧

%table.uk-table.uk-table-divider.uk-table-striped.uk-table-hover.uk-table-small
  %thead
    %tr
      %th.uk-width-expand Title
      %th.uk-width-shrink Order time
      %th.uk-width-shrink State
      %th.uk-width-shrink Order by
      %th.uk-width-expand Image
      %th.uk-width-shrink

  %tbody
    - @orders.each do |order|
      %tr
        %td.uk-table-link
          = link_to order.title, order.url
        %td= l order.order_time, format: :short
        %td= order.state_i18n
        %td= order.user.name
        %td
          - if order.image_path.present?
            = image_tag order.image_path, size: '55x70'
        %td
          = link_to '詳細', order
          - if order.allow_edit?(current_user)
            = link_to '購入済にする', purchase_order_path(order), method: :post, data: { confirm: '購入済ですか？' }
            = link_to '注文情報修正', edit_order_path(order)
            = link_to '注文取消', order, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }

