%h1 Listing orders

%table.uk-table.uk-table-divider.uk-table-striped.uk-table-hover.uk-table-small
  %thead
    %tr
      %th.uk-width-expand Title
      %th.uk-width-shrink Order time
      %th.uk-width-shrink State
      %th.uk-width-shrink Order by
      %th.uk-width-shrink

  %tbody
    - @orders.each do |order|
      %tr
        %td.uk-table-link
          = link_to order.title, order.url
        %td= l order.order_time, format: :short
        %td= order.state_i18n
        %td= order.user.name
        %td
          = link_to 'Show', order
          - if order.allow_edit?(current_user)
            = link_to 'Edit', edit_order_path(order)
            = link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
